<h1> This is the Espolea Home page </h1>
<h4> <%= link_to "Log in", login_path %> </h4>
<h4> <%= link_to "Clinics", clinics_path %></h4>
<h4> <%= link_to "Users", users_path %></h4>
<h4> <%= link_to "Reviews", reviews_path %></h4>



