<div class="jumbotron row">
    <div class="text-center form-group">
        <h1><%=I18n.t '.home.search' %></h1>
        <input type="location" class="form-control" id="location" placeholder= "Enter zip code or city"}>
    </div>
</div>
<div class="jumbotron row">
    <div class="text-center">
       <h1><%=I18n.t '.home.question' %></h1>
        <%= link_to I18n.t('.home.write'), new_review_path, :class => 'btn btn-raised btn-success' %>
    </div>
</div>

<h1><%=I18n.t '.home.recent' %></h1>
