// Place all the styles related to the Clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clinics-search {
	.form-group {
		margin-top: 0;
	}
}

.panel-heading {
	.panel-title {
		font-size: 24px;
		color: #fff;
		a:hover {
			color: #A1F8EF;
		}
	}
}

.panel-body {

    min-height: 260px;
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}

	.card-info-description {
		display: block;
		font-style: italic;
		color: #666;
	}

	.card-info-value {
		display: block;
		text-indent: 15px;
		font-size: 18px;
		margin: 5px 0;
	}
}

.well {
	legend {
		line-height: 1em;
	}
}

// This is for edit view
.edit-mode {
	&.clinic-card {
		height: auto;
		overflow: hidden;
		h1 {
			margin-right: 0;
		}

		.error-message {
			color: red;
		}
	}
}

@media (min-width: 768px) {
	.clinic-card {
		height: 600px;
	}

	.edit-mode {
		#map {
			height: 450px;
		}
	}
}



/* Styling for the clinics rating and helpfulness radials */

.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #878787;
    font-size: 16px;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    color: grey !important;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}

.radial-container {
	float: right;
	height: 100px;
	width: 100px;
	margin-right: 80px;
	margin-left: 25px;
	margin-top: 10px;

}
