<div class="container-actions">
	<div class="btn-group-sm left-button back-button">
		<%= link_to reviews_path, { :class=>"btn btn-primary btn-fab" } do %>
          <i class="material-icons">arrow_back</i><div class="ripple-container"></div>
        <% end %>
	</div>
</div>

<div class="well">
	<div class="panel-body">
		<h1>Editing Review</h1>

		<%= render 'form' %>
	</div>
</div>

